/*-- scss:defaults --*/
// importing fonts
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Lato&family=Yanone+Kaffeesatz&display=swap');

/*-- scss:defaults --*/
$unhcr-blue: #0072BC;
$unhcr-white: #FFFFFF;
$unhcr-black: #000000;
$unhcr-yellow: #FAEB00;
$unhcr-grey: #666666;
$unhcr-navy: #18375F;
$unhcr-green: #00B398;
$unhcr-red: #EF4A60;
$unhcr-lightblue: #DCE9FF;
$unhcr-mediumblue: #8EBEFF;
$unhcr-darkblue: #044F85;
$unhcr-lightgrey: #E6E6E6;
$unhcr-mediumgrey: #CCCCCC;
$unhcr-darkgrey: #222222;
$unhcr-lightyellow: #FFF9CB;
$unhcr-mediumyellow: #FFF483;
$unhcr-darkyellow: #E1CC0D;

// fonts
$font-family-sans-serif: 'Lato', Tahoma, sans-serif !default;

// headings
$presentation-heading-font: 'Lato',  Tahoma, sans-serif  !default;
$presentation-heading-color: $unhcr-blue !default;
$h1-font-size: 1.6em !default;
$h2-font-size: 1.3em !default;
$h3-font-size: 1.15em !default;

//code
$code-color: $unhcr-blue !default;
$font-family-monospace: 'Inconsolata', monospace  !default;

// general
$body-bg: $unhcr-white !default;
$body-color: #000000 !default;
$link-color: $unhcr-blue !default;
$presentation-font-size-root: 35px;

/*-- scss:rules --*/
.reveal pre code {
    background-color: #F2F2F2;
    font-size: 1.3em;
    padding: 0.5em;
    line-height: 1.2em;
    overflow: visible;
}

#title-slide {
  background-size: cover;
  background-color: $unhcr-blue;
}

.reveal .quarto-title-block .quarto-title-authors .quarto-title-author .quarto-title-author-name {
    color: $unhcr-yellow;
    font-size: $h2-font-size;
    font-family: $presentation-heading-font;
    margin-bottom: 0.1rem;
}

.subtitle {
  color: $unhcr-yellow;
  font-size: $h2-font-size;
  font-family: $presentation-heading-font;
}

author {
  color: $unhcr-yellow;
  font-size: $h2-font-size;
  font-family: $presentation-heading-font;
}


.reveal .quarto-title-block .quarto-title-authors .quarto-title-author .quarto-title-affiliation {
    color: $unhcr-yellow;
    font-size: $h3-font-size;
    font-family: $presentation-heading-font;
    margin-bottom: 0.1rem;
}

.date {
  color: $unhcr-yellow;
  font-size: $h3-font-size;
  font-family: $presentation-heading-font;
}

.footer {
    font-family: $presentation-heading-font;
}

.reveal a {
	line-height: 1.5em;
	color: #eb811b;
	font-weight: 300;
}

.reveal .slide-number {
  font-family: $presentation-heading-font;
}

.reveal .panel-tabset [role=tab] {
    font-size: 0.8em;
}


section.has-dark-background {
  background-size: cover;
  color: $unhcr-white;
  font-weight: bold;
  text-shadow: none;
}

section.has-dark-background h1  {
  color: $unhcr-white;
  font-weight: 500;
}

section.has-dark-background h2  {
  color: $unhcr-yellow;
  font-weight: 500;
}


.reveal .slide blockquote {
  border-left: 3px solid $text-muted;
  padding-left: 0.5em;
}

.footer {
  bottom: 10px !important;
  color: $body-color !important;
}

.reveal .slide-logo {
  color: $body-color !important;
}

.slide-number, .reveal.has-logo .slide-number {
  color: $unhcr-blue !important;
}

.inverse {
  color: #d6d6d6;
  h1, h2, h3 {
    color: #f3f3f3;
  }

  .slide-background-content {
    background-color: $unhcr-blue;
  }

    .callout-caption {
    color: $body-color;
  }

  pre {
    background-color: $unhcr-blue;
  }

  pre code {
    background-color: $unhcr-blue;
    color: #d6d6d6;
  }

  pre.sourceCode code {
      background-color: $unhcr-blue;
      padding: 6px 9px;
      max-height: 500px;
      white-space: pre
  }

  pre > code.sourceCode > span {
    color: #f8f8f2;
  }

  code span {
    color: #f8f8f2;
  }

  code.sourceCode > span {
    color: #f8f8f2;
  }

  div.sourceCode,
  div.sourceCode pre.sourceCode {
    color: #f8f8f2;
  }

  code span.ot {
    color: #ffa07a;
  }

  code span.at {
    color: #ffd700;
  }

  code span.ss {
    color: #abe338;
  }

  code span.an {
    color: #d4d0ab;
  }

  code span.fu {
    color: #ffd700;
  }

  code span.st {
    color: #abe338;
  }

  code span.cf {
    color: #ffa07a;
  }

  code span.op {
    color: #00e0e0;
  }

  code span.er {
    color: #dcc6e0;
  }

  code span.bn {
    color: #dcc6e0;
  }

  code span.al {
    color: #dcc6e0;
  }

  code span.va {
    color: #f5ab35;
  }

  code span.bu {
    color: #f5ab35;
  }

  code span.ex {
    color: #ffd700;
  }

  code span.pp {
    color: #dcc6e0;
  }

  code span.in {
    color: #d4d0ab;
  }

  code span.vs {
    color: #abe338;
  }

  code span.wa {
    color: #d4d0ab;
    font-style: italic;
  }

  code span.do {
    color: #d4d0ab;
    font-style: italic;
  }

  code span.im {
    color: #f8f8f2;
  }

  code span.ch {
    color: #abe338;
  }

  code span.dt {
    color: #dcc6e0;
  }

  code span.fl {
    color: #f5ab35;
  }

  code span.co {
    color: #d4d0ab;
  }

  code span.cv {
    color: #d4d0ab;
    font-style: italic;
  }

  code span.cn {
    color: #ffa07a;
  }

  code span.sc {
    color: #00e0e0;
  }

  code span.dv {
    color: #dcc6e0;
  }

  code span.kw {
    color: #ffa07a;
  }
}

a, a > code  {
  color: $unhcr_lightblue;
  text-decoration: none;
}

section.has-dark-background a, a > code  {
  color: $unhcr_lightblue;
  text-decoration: none;
}

section.has-dark-background code  {
  color: $unhcr_blue;
}

strong {
  color: $unhcr_yellow;
}

em {
  color: $unhcr_lightblue;
  font-style: normal;
  font-weight: bold;
}

del {
  color: $unhcr_grey;
  text-decoration: none;
  font-weight: bold;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

ul {
  font-size: 125%;
  list-style-type: none;
  text-align: left;
  font-weight: 500;
  padding-top: 40px;
}

ul li {
  padding-bottom: 40px;
}

ol {
  counter-reset: my-counter;
  list-style: none;
  padding-left: 40px;
  font-size: 125%;
  font-weight: bold;
  text-align: left;
}

.fragment:not(.current-fragment) {
  color: $unhcr_lightgrey;
}

section.has-dark-background .fragment:not(.current-fragment) {
  color: $unhcr-darkgrey;
}

section.has-dark-background .fragment:not(.current-fragment) {
  color: $unhcr-darkgrey;
}

section.has-dark-background .current-fragment {
  color: $unhcr_lightgrey;
}

section.has-dark-background .fragment:not(.current-fragment) strong {
  color: $unhcr-darkgrey;
}

section.has-dark-background .fragment:not(.current-fragment) em {
  color: $unhcr-darkgrey;
}

section.has-dark-background .fragment:not(.current-fragment) a, a > code  {
  color: $unhcr-darkgrey;
}

section.has-dark-background .fragment:not(.current-fragment) code {
  color: $unhcr-darkgrey;
}

section.has-dark-background .fragment:not(.current-fragment) del {
  color: $unhcr-darkgrey;
}

.fragment:not(.current-fragment) code {
  color: $unhcr_lightgrey;
}

.fragment:not(.current-fragment)::before {
  background-color: lighten($unhcr_lightgrey, 3%);
}

section.has-dark-background .fragment:not(.current-fragment)::before {
  background-color: lighten($unhcr-darkgrey, 3%);
}

.fragment:not(.current-fragment) strong {
  color: $unhcr_lightgrey;
}

.fragment:not(.current-fragment) em {
  color: $unhcr_lightgrey;
}

.fragment:not(.current-fragment) del {
  color: $unhcr_lightgrey;
}

.fragment:not(.current-fragment) a {
  color: $unhcr_lightgrey;
}

.current-fragment {
  color: $body-color;
}

.reveal
  div.sourceCode
  pre
  code.has-line-highlights
  > span:not(.highlight-line) {
  opacity: 0.1 !important;
}

.reveal
  div.sourceCode
  pre
  code.has-line-highlights
  > span.highlight-line {
  font-weight: bold;
}

ol li {
  counter-increment: my-counter;
  padding-left: 40px;
  position: relative;
  font-size: 125%;
  margin: 20px 0;
  display: block;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

ol li::before {
  content: counter(my-counter);
  color: #ffffff;
  font-size: 100%;
  font-weight: bold;
  position: absolute;
  left: -40px;
  line-height: 60px;
  width: 60px;
  height: 60px;
  top: 10%;
  background: $unhcr_lightblue;
  border-radius: 50%;
  text-align: center;
}

.slide-menu-wrapper {
  display: none;
  visibility: hidden;
}

.middle {
  vertical-align: middle;
}

.center img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.center {
  text-align: center;
}

.huge { font-size: 200% }
.extra-large { font-size: 150% }
.large { font-size: 130% }
.medium { font-size: 115% }
.small { font-size: 70% }
.tiny { font-size: 50% }
